.user-large {
    font-size: 18pt !important;
    padding: 13px 17px 13px 17px;
    border-radius: 5px;
    background: white;
}

.sidebar-submenu ul li, .sidebar-submenu ul li a {
    text-decoration: none !important;
    list-style: none !important;
}

.top-left {
   margin-left: 0 !important;
}

.top-right {
    margin-right: 0 !important;
    padding-right: 0 !important; 
}

.sidebar-brand {
    padding-bottom: 12px !important;
}

@media (min-width: 992px) {
    .container {
         max-width: 1500px !important;
    }
}

footer {
    position: fixed;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 -4px 4px rgb(0 0 0 / 4%);
    box-shadow: 0 -4px 4px rgb(0 0 0 / 4%);
    padding: 10px;
}

footer a {
    color: black;
    text-decoration: underline;
}

.navbar-laravel {
    position: fixed;
    width: 100%;
    top: 0 !important;
}

.body-custom {
    margin-top: 65px !important;
}

#show-sidebar {
    height: 55px !important;
    margin-top: -10px !important;
    padding-top: 10px !important;
    font-size: 20px !important;
    border-radius: 0 !important;
}